body {
    background-color: black;
    margin: 0px;
    font-family: sans-serif, serif;
}

.container {
    background-color: #edede9;
    height: 70px;
    width: 100%;
}

.container ul {
    align-items: center;
    gap: 30px;
    display: flex;
}

.logo {
    margin-top: 10px;
    float: left;
    color: black;
    font-size: 30px;
    margin-right: 90px;
    padding: 5px;
}

.container span {
    font-size: 30px;
    color: black;
    margin-top: 20px;
    width: 15px;
}


ul>a {
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 25px;
    list-style: none;
}

.main {
    border: 2px solid red;
    display: flex;
    padding: 30px;
}

.container2 {
    height: 500px;

}


@media only screen and (max-width: 750px) {
    .container ul a {
        display: none;
    }

    .container {
        width: 720px;
    }

    .container span {
        font-size: 36px;
        color: black;
        margin-top: 20px;
        margin-left: 33px;
    }

    .logo {
        font-size: 30px;
        margin-top: 10px;
        padding: 10px;
    }

    .main {
        display: inline;
    }

    .container2 {
        width: 100%;
        margin-left: 60px;
        height: 550px;
    }

    .container3 {
        margin-left: 60px;
        width: 100%;
    }

}